@font-face{
    font-family: adobeProFont;
    src: url("../fonts/SourceCodePro-Light.otf") format('opentype');
}
wrapper {
    margin: 0;
    padding: 0;
}
body {
    margin: 0px 0px 0px 0px;
    font-family: adobeProFont;
    font-weight: bold;
    font-size: 20px;
}
header nav{
    width: 100%;
    margin: 0px 0px 0px 0px;
    padding: 0;        
    background-color: #26a69a;
    box-shadow: 0x 0px 5px black;
}
div #dropdown{
    max-width: 160px;
    position:relative;
    display:inline-block;
    
}
div #dropbtn {
    padding: 5px;
    color:white;
    background-color: #26a69a;
    border:none;
    cursor:pointer;
}
div #dropdown-content{
    display:none;
    position:absolute;
    background-color:  #26a69a;
    width: 160px;
    
}

div #dropdown-content a {
    display:block;
}

div #dropdown-content a:hover{
    background-color: black;
}

.main {
    padding:10%;
}
.main h1, .main-content p, h1{ 
    text-align: center;
}
div.row {
    width:100%;
}

i .menu {
    color: white;
}
i .content{
    color: black;
}

div #dropdown-content a {

    color: white;
    text-decoration: none;
}

a {
    color:black;
    text-decoration: none;
    cursor:pointer;
}
hr {
    color: #1e88e5;
}
div.boxwrap{
    padding: 10px;
}
aside {
    width: 25%;
    float:left;
}
section.col-2,div.col-2 {
    float:left;
    width: 66%;
    padding:20px;
}
section.col-1,div.col-1{
    float:left;
    width:33%;
    padding:20px;
}

section.col-3, div.col-3 {
    width: 100%;
    padding: 20px;
}
.github-repos-wrapper{
    padding:10px;
    float:left;
    width:33%;
}
.github-repos{
    background-color: #546e7a;
}
.github-profile{
    width:30px;
    height:40px;
}
.material-icons{
    font-size: 30px;
}

footer {
    width: 100%;
    float:left;
    text-align:center;
    font-size: 12px;
    background-color: #26a69a;
    box-shadow: 0px 0px 5px black;
}


/* Smartphones */
@media screen and (min-width: 0px) and (max-width: 768px)  {
    .material-icons{
	font-size:35px;
    }
    article.main h1{
	font-size:25px;
    }
    .main-content p{
	font-size:18px;
    }
    aside{
        width:100%;
    }
    .col-1{
        width:100%;
    }
    .col-2{
        width:100%;
    }
    .github-repos-wrapper{
        width:100%;
    }
}

/* Tablets */
@media screen and (min-width: 769px) and (max-width:1200px){
    aside {
	width: 20%;
    }
    .col-2{
        width:66%;
    }
    .github-repos-wrapper{
        width:50%;
    }
}

/* Desktops */
@media screen and (min-width: 1200px){
}