@font-face{
    font-family: adobeProFont;
    src: url("../fonts/SourceCodePro-Light.otf") format('opentype');
}
wrapper {
    margin: 0;
    padding: 0;
    height:100hv;
    min-height:100hv;
    position:relative;
}
body {
    margin: 0px 0px 0px 0px;
    /*min-height: 100vh; */
    font-family: adobeProFont;
    font-weight: bold;
    font-size: 20px;
}
header nav{
    width: 100%;
    margin: 0px 0px 0px 0px;
    padding: 0;
    background-color: #26a69a;
    box-shadow: 0px 0px 5px black;
}

div .dropbtn {
    padding: 5px;
    color:white;
    background-color: #26a69a;
    border:none;
    cursor:pointer;
}
div .dropdown{
    position:relative;
    display:inline-block;
    
}
div .dropdown-content{
    display:none;
    position:absolute;
    background-color: yellow;
    min-width: 160px;

}

div .dropdown-content a {
    display:block;
}

div .dropdown-content a:hover{
    background-color: black;
}

.dropdown:hover .dropdown-content{
    display:block;
}

article .main h1{ 
    text-align: center;
}

section .main-content p{
    text-align: center;
}

i .menu {
    color: white;
}
i .content{
    color: black;
}
div .dropdown-content a {

    color: white;
    text-decoration: none;
}
a {
    color:black;
    text-decoration: none;
    cursor:pointer;
}
div.boxwrap{
    padding: 10px;
}
aside {
    
}
/* 
Total 12 columnas
*/

div.col {
    width: 100%;
    padding: 20px;
}
footer {
    width: 100%;
    text-align:center;
    font-size: 10px;
    position:absolute;
    bottom:0;
    left:0;
    background-color: #26a69a;
    box-shadow: 0px 0px 5px black;
}

/* Smartphones */
@media screen and (min-width: 768px) {

    aside{
	width:100%;
    }
    div.col{
	width:100%;
    }
}

/* Tablets */
@media screen and (min-width: 992px){

}

/* Desktops */
@media screen and (min-width: 1200px){

}